<h1 mat-dialog-title>Sanction</h1>
<div mat-dialog-content>
  <form [formGroup]="f">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>
    <control-messages [control]="f.controls.firstName"></control-messages>
    <mat-form-field>
      <input matInput placeholder="Middle Name" formControlName="middleName">
    </mat-form-field>
    <control-messages [control]="f.controls.middleName"></control-messages>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>
    <control-messages [control]="f.controls.lastName"></control-messages>
    <mat-form-field>
      <mat-select placeholder="Country" formControlName="country">
        <mat-option *ngFor="let country of countries" value={{country.name.common}} >{{country.name.common}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<button (click)="onSubmit()" [disabled]="!f.valid" mat-fab mat-fab-bottom-right color="primary">
  <mat-icon>save</mat-icon>
</button>