<app-header (navToggle)="drawer.toggle()"></app-header>
<mat-drawer-container class="iremit-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item *ngFor="let nav of navLists">
        <a matLine href="{{nav.href}}">{{nav.name}}</a>
        <button mat-icon-button>
          <mat-icon>{{nav.icon}}</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="wrapper">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>