<nav class="navbar is-info has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item primary" (click)="navOpen()">
      <mat-icon> menu </mat-icon>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
      </div>
      <!-- User NOT logged in -->
      <ng-template #guest>
        <a (click)="auth.login()" class="navbar-item">
          Login
        </a>
      </ng-template>
      <!-- User logged in -->
      <ng-template #authenticated>
        <a *ngIf="auth.user | async as user" (click)="auth.logout()" class="navbar-item">
          <img class="avatar" [src]="user.photoURL"> Log Out ({{ user.displayName }})</a>
      </ng-template>

    </div>
  </div>
</nav>
<mat-progress-bar *ngIf="global.isOnProgress" mode="indeterminate"></mat-progress-bar>
