<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Full Height title
      </h1>
      <h2 class="subtitle">
        Full Height subtitle
      </h2>
      <button mat-raised-button (click)="toggleProgress()">Basic</button>
    </div>
  </div>
</section>