<section class="hero is-warning is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div *ngIf="auth.user | async; then loggedIn else login">
                <!-- template will replace this div -->
            </div>
            <ng-template #login>
                <mat-card class="login-card">
                    <mat-card-header>
                        <div mat-card-avatar class="iremit-header-image"></div>
                        <mat-card-title>Permission Denied</mat-card-title>
                        <mat-card-subtitle>Login Required</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            You do not have permission to access the page requested. Please login with your google or facebook account.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="auth.login()" mat-button>Google</button>
                        <button (click)="auth.login()" mat-button>Facebook</button>
                    </mat-card-actions>
                </mat-card>
            </ng-template>
            <ng-template #loggedIn>
                <mat-card class="login-card">
                    <mat-card-header>
                        <div mat-card-avatar class="iremit-header-image"></div>
                        <mat-card-title>Already Logged In</mat-card-title>
                        <mat-card-subtitle>Registered User</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            You have already logged In.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Logout</button>
                    </mat-card-actions>
                </mat-card>
            </ng-template>
        </div>
    </div>
</section>