<section class="hero is-warning is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="table-container mat-elevation-z8">
                        <div class="table-header">
                            <mat-form-field>
                                <input #filter matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                        </div>

                        <table mat-table #table [dataSource]="dataSource" matSort>

                            <!-- Columns -->
                            <ng-container *ngFor="let col of displayedColumns;" matColumnDef={{col}}>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col}} </th>
                                <td mat-cell *matCellDef="let data"> {{data[col]}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getObject(row)"></tr>
                        </table>
                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
                <div class="column">
                    <!-- object not selected -->
                    <ng-template #empty>
                        <mat-card-content>
                            <p>
                                Select one row to see the detail.
                            </p>
                        </mat-card-content>
                    </ng-template>
                    <!-- object selected -->
                    <ng-template #selected>
                        <mat-card-header>
                            <div *ngIf="global.isOnProgress" mat-card-avatar>
                                <mat-spinner></mat-spinner>
                            </div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                First Name: {{sanction.firstName}}
                            </p>
                            <p>
                                Middle Name: {{sanction.middleName}}
                            </p>
                            <p>
                                Last Name: {{sanction.lastName}}
                            </p>
                            <p>
                                Country: {{sanction.country}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button (click)="openDialog(sanction)" mat-fab mat-fab-bottom-right color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-card-actions>
                    </ng-template>
                    <mat-card class="iremit-card">
                        <div *ngIf="sanction; then selected else empty"></div>
                    </mat-card>
                </div>
            </div>
            <button (click)="openDialog()" mat-fab mat-fab-bottom-right color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</section>