/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.navbar{
  margin-bottom: 0%
}
/* Rounded avatars */
.avatar {
    float: left;
    /* margin-top: 1em; */
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

/* Mat Tables */
/* Structure */
.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: auto;
  }

  .table-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .wrapper >div {
    display: inline-block;
  }

  .router-output {
    width: 100%;
  }
  .hero {
    margin: auto;
  }

  .center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }




.login-card {
  margin: auto;
  max-width: 400px;
  text-align: center
}

.iremit-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
